<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HOME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="textobuscar" (ionChange)="buscar()"
      placeholder="BUSCAR POKEMON"></ion-searchbar>
  </ion-toolbar>

  <ion-card *ngFor="let pokemonindex of pokemonsFiltrados">
    <ion-card-header>
      <ion-card-title (click)="gotoinfo()">{{ pokemonindex.name }}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
